---
---

body {
    position: relative;
    padding-top: 60px; 
}

h1, h2, h3, h4, h5, h6, .navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    .active {
        border: solid 2px #fff;
        color: #000;
        background: #fff;
    }
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.jumbotron {
    background-image: url('/img/big_a750f34a101df74c9808778a31f3565a1838537f-2012-12-28-0243.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;

    img {
        width: 180px;
        height: 180px;
    }
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;

    h2 {
        margin: 0;
        font-size: 3em;
    }

    img {
        margin-bottom: 30px;
    }

    .item-details {
        margin: 30px 0;
    }
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: .3;
    }

    .lr {
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        background-color: #BBB;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

        .rl {
            z-index: 1052;
            width: 1px;
            height: 75px;
            background-color: #BBB;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}

.portfolio-item {
    margin: 0 0 30px;
    @media (min-width: 767px) {
        margin: 0 0 30px;
    }

    .portfolio-link {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(24,188,156,.9);
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;

            &:hover {
                opacity: 1;
            }

            .caption-content {
                position: absolute;
                top: 35%;
                width: 100%;
                height: 20px;
                margin-top: -12px;
                text-align: center;
                font-size: 20px;
                color: #fff;
            }
        }
    }
}

.portfolio-img {
    border: solid 1px #888;
}

hr.code-light,
hr.code-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;

    &:after {
        content: "\f121";
        display: inline-block;
        position: relative;
        top: -.8em;
        padding: 0 .25em;
        font-family: FontAwesome;
        font-size: 2em;
    }
}

hr.code-light {
    border-color: #fff;

    &:after {
        color: #fff;
        background-color: #{{ site.colors.primary }};
    }
}

hr.code-primary {
    border-color: #{{ site.colors.secondary }};

    &:after {
        color: #{{ site.colors.secondary }};
        background-color: #FFF;
    }
}

section.success {
    background-color: rgba(24,188,156,1);
    color: #FFF;
    padding: 50px 0;

    h2 {
        text-shadow: 4px 3px #000;
    }
}

footer {
    color: #fff;

    .footer-above {
        padding-top: 50px;
        background-color: #000;
    }

    .footer-col {
        margin-bottom: 50px;
    }

    .footer-below {
        padding: 25px 0;
        background-color: #{{ site.colors.tertiary }};
    }
}

p {
    font-size: 20px;
}