<!-- Begin About Section -->
<section id="about" class="success">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="code-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Mike Koch, a software developer and IT Consultant from the Cleveland, Ohio area, and I'm currently majoring in Computer Science and Engineering at the University of Toledo.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whenever I'm not busy with school or work (which hardly ever happens), you can find me at the golf course enjoying a round of 9 (and sometimes 18) holes, biking in the metroparks, at an Indians game, or behind the monitor working on my next side project, which will eventually show up in my portfolio.</p>
                </div>
            </div>
        </div>
</section>
<!-- End About Section -->