<!-- Begin Jumbotron (header) -->
<header class="jumbotron">
    <div class="container text-center">
        <img src="/img/me.png" alt="Photo of Mike Koch" class="drop-shadow img-circle">
        <h3>{{ site.name }}</h3>
        <p>Software Developer &bull; IT Consultant</p>
        <br>
        <!-- Social -->
        <div class="social">
            {% for network in site.social %}
            <a href="{{ network.url }}" 
               class="btn-social btn-outline"
               data-toggle="popover"
               data-content="{{ network.tooltip-text }}">
                <i class="fa fa-fw fa-{{ network.name }}"></i>
            </a>
            {% endfor %}
        </div>
    </div>
</header>
<!-- End Jumbotron (header) -->