<!-- Begin Jumbotron (header) -->
<div class="jumbotron">
    <div class="container text-center">
        <img src="/img/me.png" alt="Photo of Mike Koch" class="drop-shadow img-circle">
        <h3>{{ site.name }}</h3>
        <p>Software Developer &bull; IT Consultant</p>
        <br>
        <!-- Social -->
        <div class="social">
        {% for network in site.social %}
            <a href="{{ network.url }}" target="_blank">
                <i class="fa fa-{{ network.name }} fa-3x"
                   data-toggle="popover"
                   data-content="{{ network.tooltip-text }}"></i></a>
        {% endfor %}
        </div>
    </div>
</div>
<!-- End Jumbotron (header) -->