<!-- Begin Contributions Section -->
<section id="my-contributions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Contributions</h2>
                <hr class="code-primary">
            </div>
        </div>
        <div class="row text-center">
            {% for project in site.my_contributions %}
            <div class="col-sm-4 portfolio-item">
                <a href="#contributionModal-{{ project.modal-id }}" data-toggle="modal" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <p>{{ project.title }}</p>
                            <i class="fa fa-info-circle fa-3x"></i>
                        </div>
                    </div>        
                    <img src="img/my_contributions/{{ project.image-home }}" class="img-responsive portfolio-img" alt="{{ project.alt-home }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Contributions Section -->