<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="theme-color" content="#a6a6a6">
        <title>Breeze HTML Template</title>

        <link href="//fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/breeze.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="js/site.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.php">
                        <img alt="Logo" src="images/navbar-logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="r-sidebar.html"><i class="fa fa-align-right"></i> R Sidebar</a></li>
                        <li><a href="full-width.html" class="active"><i class="fa fa-align-justify"></i> Full Width</a></li>
                    </ul>
                </div>
        </nav>
        <section>
            <div class="jumbotron breeze nudge-background-up-120">
                <div class="container">
                    <h1><i class="fa fa-align-justify"></i> Full Width</h1>
                    <p>A page that uses the entire width of the page</p>
                </div>
            </div>
            <br>
            <div class="container">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ex lorem, vulputate eget felis vitae, dictum accumsan dui. Vivamus
                    placerat lorem rutrum velit feugiat pulvinar. Aenean non eleifend lacus. Etiam condimentum sem orci. Mauris turpis sem, pellentesque
                    euismod ultrices a, tincidunt sed tortor. Duis bibendum dolor purus. Praesent efficitur justo nibh, maximus placerat nulla tempor eget.
                    Donec eget bibendum lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam aliquet mi ornare
                    euismod ultricies.</p>
                <p>Maecenas sapien lacus, bibendum eu vestibulum et, ornare sed magna. Duis vel nisi cursus, vehicula nisi a, volutpat urna. Cras porttitor
                    malesuada justo ut accumsan. Etiam mollis lectus vel porttitor fermentum. Curabitur consequat rutrum risus, ut aliquet felis gravida
                    sit amet. Praesent in porttitor erat. Sed ut est quis libero tempus rhoncus.</p>
                <p>Fusce ultricies velit et felis mattis faucibus. Sed venenatis mollis lacus nec gravida. Duis ultricies diam et eros semper tempor.
                    Vestibulum eu sapien semper, gravida ipsum eu, sagittis velit. In leo ligula, eleifend nec gravida non, convallis vel metus.
                    Suspendisse semper in justo vitae interdum. Quisque consectetur augue et ultrices volutpat. Nulla volutpat nisl nisl, in fringilla
                    augue congue sit amet. Mauris maximus commodo suscipit. Duis ac mi aliquet, congue ligula sed, condimentum sapien. Praesent tincidunt
                    ligula sed diam efficitur, at faucibus nulla tempus. Nulla dolor ex, fermentum ac fermentum quis, bibendum at lectus. Proin eros nibh,
                    feugiat rhoncus orci sit amet, commodo sagittis eros. Sed posuere aliquam neque. Curabitur nec nibh nisl.</p>
            </div>
            <hr>
            <footer>
                <p>Designed with <i class="fa fa-heart" style="color: red"></i> by <a href="http://twitter.com/mkoch227">@mkoch227</a>.</p>
            </footer>
        </section>
    </body>
</html>