<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="theme-color" content="#a6a6a6">
        <title>Breeze HTML Template</title>

        <link href="//fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/breeze.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="js/site.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.php">
                        <img alt="Logo" src="images/navbar-logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" class="active"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="r-sidebar.html"><i class="fa fa-align-right"></i> R Sidebar</a></li>
                        <li><a href="full-width.html"><i class="fa fa-align-justify"></i> Full Width</a></li>
                    </ul>
                </div>
        </nav>
        <section>
            <div class="jumbotron breeze-home">
                <div class="container home">
                    <img class="img-responsive center-block" src="images/logo.png" alt="Mods for HESK">
                    <p>Breeze is a free HTML template from the creator of Mods for HESK.</p>
                    <a href="breeze.zip" class="btn btn-success btn-lg" role="button"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
            <div class="mission">
                <div style="margin-top: 10px">
                    With a responsive design built upon <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, Breeze is simply a breeze to modify.
                </div>
            </div>
            <br>
            <div class="container content">
                <div class="row">
                    <div class="col-md-4 col-sm-12 home">
                        <a href="download.php">
                            <span class="fa-stack fa-4x black">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <br>
                        <h1>Some Important Item</h1>
                        <p>Some important description</p>
                    </div>
                    <div class="col-md-4 col-sm-12 home">
                        <a href="support.php">
                            <span class="fa-stack fa-4x red">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <br>
                        <h1>Some Important Item</h1>
                        <p>Some important description</p>
                    </div>
                    <div class="col-md-4 col-sm-12 home">
                        <a href="https://gitlab.com/mike-koch/Mods-for-HESK/issues" target="_blank">
                            <span class="fa-stack fa-4x blue">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <br>
                        <h1>Some Important Item</h1>
                        <p>Some important description</p>
                    </div>
                </div>
            </div>
            <hr>
            <section id="features">
                <h3 class="text-center">Some tagline for some new features</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <ul class="nav nav-pills nav-stacked features">
                                <li role="presentation" class="active">
                                    <a href="#feature-1" data-toggle="tab">
                                        <i class="fa fa-fw fa-compress"></i> Awesome Feature #1
                                    </a>
                                </li>
                                <li>
                                    <a href="#feature-2" data-toggle="tab">
                                        <i class="fa fa-fw fa-check-circle"></i> Awesome Feature #2
                                    </a>
                                </li>
                                <li>
                                    <a href="#feature-3" data-toggle="tab">
                                        <i class="fa fa-fw fa-calendar"></i> Awesome Feature #3
                                    </a>
                                </li>
                                <li>
                                    <a href="#feature-4" data-toggle="tab">
                                        <i class="fa fa-fw fa-paperclip"></i> Awesome Feature #4
                                    </a>
                                </li>
                                <li>
                                    <a href="#feature-5" data-toggle="tab">
                                        <i class="fa fa-fw fa-font"></i> Awesome Feature #5
                                    </a>
                                </li>
                                <li>
                                    <a href="#feature-6" data-toggle="tab">
                                        <i class="fa fa-fw fa-code"></i> Awesome Feature #6 <span class="label label-warning">In Development</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-8 col-xs-12 tab-content">
                            <div role="tabpanel" class="tab-pane active" id="feature-1">
                                <p>1 Some awesome feature description. Include an image to really interest your visitors.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature-2">
                                <p>2 Some awesome feature description. Include an image to really interest your visitors.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature-3">
                                <p>3 Some awesome feature description. Include an image to really interest your visitors.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature-4">
                                <div>4 Some awesome feature description. Include an image to really interest your visitors, or a list!
                                    <ul>
                                        <li>Something</li>
                                        <li>Really</li>
                                        <li>Cool</li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature-5">
                                <p>5 Some awesome feature description. Include an image to really interest your visitors.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature-6">
                                <p>6 Some awesome feature description. Include an image to really interest your visitors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <footer>
                <p>Designed with <i class="fa fa-heart" style="color: red"></i> by <a href="http://twitter.com/mkoch227">@mkoch227</a>.</p>
            </footer>
        </section>
    </body>
</html>